@model SalesMvcAngular.Domain.InvoiceHeader

@{
    ViewBag.Title = "AddInvoice";
}

<h2>AddInvoice</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>InvoiceHeader</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceNumber)
                @Html.ValidationMessageFor(model => model.InvoiceNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.invoiceDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.invoiceDate)
                @Html.ValidationMessageFor(model => model.invoiceDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discound, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discound)
                @Html.ValidationMessageFor(model => model.Discound)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Net, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Net)
                @Html.ValidationMessageFor(model => model.Net)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paid)
                @Html.ValidationMessageFor(model => model.Paid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remaining, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remaining)
                @Html.ValidationMessageFor(model => model.Remaining)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StoreId, "StoreId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StoreId", "-- Select Store --")
                @Html.ValidationMessageFor(model => model.StoreId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "CustomerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerId", "-- Select Customer --")
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
